body {
    background-color: black;
}
div.ui{
    width:30%;
}
button {
    background-color: #cccccc;
    color: darkslategrey;
    font-size:100%;
    font-weight: lighter;
    margin: 2px;
}
button:hover {
    background-color: whitesmoke;
    color: darkslategrey;
}
button.active {
    background-color: black;
    border-color: white;
    color: whitesmoke;
}
button.divider {
    background-color: transparent;
    border-color: transparent;
    width:1px;
    padding:0;
    margin:0;

}
img{
    position: relative;
    left: -250px;
    top:-50px;
}
h1{
    color:white;
    font-size: 150%;
}
h2{
    color:white;
    font-size: 300%;
}
hr{
    border-color:white;
}
